<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Courses Available</h1>
    <ul style="list-style-type: none;">

        <%
        courses.forEach((course)=>{ %>
            <li><a href="/course/<%=course%>"><%=course%></a></li>
        <% }) %>
    </ul>

    <h3><a href="/score/<%=player%>">Check Your Score !</a></h3>
    <h3><a href="/">Go Home to Change Name</a></h3>
    
</body>
</html>